<html>
<head>
    <title>HTML</title>
    <style>
        h1
        {
        color:red;
        }
        table
        {
        border:1px solid red;
        }
        tr
        {
        background:grey;
        font-size:20px;
        }
        tr:nth-of-type(odd)
        {
        background:grey;
         }
               </style>
</head>
<body>
<h1>Welcome to the world of python</h1>
<h2>Best employess of my office</h2>
<table>
    <head>
        <th>name</th>
        <th>Age</th>
    </head>
    <tr>
        <td>Naveen</td>
        <td>21</td>
    </tr>
    <tr>
        <td>Reddy</td>
        <td>23</td>
    </tr>
</table>
</body>
</html>